.news-upper-content {
    display: flex;
    height: 100%;
    background: $nav-background;
    color: #fff;
}

.news-upper-content img {
    width: 60%;

}

.news-upper-content p {
    padding: 20px;
    width: 40%;
}

.news-lower-content {
    margin: 0 15px;
}

.news-lower-box {
    width: 32%;
    float: left;
    border: 1px solid $nav-background;
    margin: 10px 5px;
}

.news-lower-box img {
    width: 100%;
    height: 250px;
}

.news-content {
    padding: 10px;
    color: $nav-background;
}

.news-content a {
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    /* For Mobile */
    .news-lower-box {
        width: 100%;
        display: block;
    }

    .news-upper-content {
        display: block;
        height: 100%;
    }

    .news-upper-content h4 {
        padding: 20px;
        width: 100%;
    }

    .news-upper-content img {
        width: 100%;
        height: 350px;

    }
}
