@import url(https://fonts.googleapis.com/css?family=Varela+Round);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "fs-elliot";
  line-height: 1.6em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: "dax";
  src: url("/assets/fonts/Dax.ttf");
}

@font-face {
  font-family: "fs-elliot";
  src: url("/assets/fonts/FS Elliot Pro.ttf");
}

header {
  background-color: #d3e7f9;
}

.row-header {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: flex;
}

.logo-box {
  position: relative;
  width: 50%;
  padding: 20px;
}

.logo-box img {
  width: 90px;
  height: 90px;
  border-radius: 75%;
}

.logo-box img:hover {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.logo-box h2 {
  font-family: "dax";
  position: absolute;
  color: #0a2c8b;
  top: 50px;
  left: 120px;
}

.logo-box h2:hover {
  transform: scaleX(1) scaleY(1.5);
  opacity: 1;
}

.member-logo-box {
  position: relative;
  width: 50%;
  text-align: center;
}

.member-logo-content {
  float: right;
}

.member-logo-box img {
  width: 120px;
  height: 120px;
  border-radius: 75%;
  margin: 10px;
}

.member-logo-box h2 {
  position: absolute;
  top: 30px;
  right: 100px;
}

.member-logo:hover {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  /* For Mobile */

  .row-header {
    display: inline;
  }

  .logo-box {
    display: block;
    width: 100%;
  }

  .member-logo-box {
    display: inline-block;
    width: 100%;
  }
}

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  font-family: "fs-elliot";
  background: #0a2c8b;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em 1.95em;
}

nav li:hover {
  background: cornflowerblue;
}

.menu-main li a {
  text-transform: uppercase;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: cornflowerblue;
  width: 100%;
  display: none;
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  float: left;
}

.menu-sub li a {
  text-transform: initial;
  color: #fff;
}

.menu-sub a:hover {
  color: #0a2c8b;
  font-weight: bold;
}

#join-rec {
  color: #ffda54;
}

.icon {
  display: none;
}

@media only screen and (max-width: 999px) {
  /* For Tablet */

  nav a {
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 768px) {
  /* For Mobile */

  nav li {
    display: block;
    border-bottom: 1px solid gray;
    margin: 5px;
  }

  .menu-sub li {
    float: none;
    border-bottom: 1px solid #fff;
  }
}

.slides {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 400px;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #d3e7f9;
  font-size: 200pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.main-content {
  padding-top: 30px;
  display: flex;
}

.left-box {
  width: 70%;
  display: block;
}

.left-upper-content {
  float: left;
}

.left-upper-box {
  text-align: center;
}

.left-box img {
  width: 200px;
  height: 180px;
  padding: 10px;
}

.left-box img:hover {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.left-lower {
  margin-top: 30px;
}

.left-lower h2 {
  color: #0a2c8b;
  padding: 10px;
  border-bottom: 2px solid #777;
}

.left-lower-content {
  display: block;
}

.left-lower-box {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #777;
}

.left-lower-box img {
  width: 120px;
  height: 70px;
}

.left-lower-box img:hover {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.left-lower-box h5 {
  color: #0a2c8b;
  width: 80%;
  float: right;
}

.title-desc {
  padding: 10px;
  width: 50%;
  text-align: center;
}

.right-box {
  text-align: center;
  width: 30%;
  padding: 20px;
}

.right-box h3 {
  color: #0a2c8b;
  padding: 10px;
  border-bottom: 1px solid #777;
}

.right-upper-box {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #777;
}

.right-lower-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
}

.right-lower-box ul {
  padding: 10px;
  text-align: left;
}

.right-lower-box li {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  /* For Mobile */

  .main-content {
    display: block;
  }

  .left-box {
    width: 100%;
    padding: 30px;
  }

  .left-upper-content {
    width: 100%;
    text-align: center;
    float: none;
    padding: 20px;
  }

  .right-box {
    width: 100%;
  }
}

