.events-upper-content {
    display: flex;
    height: 350px;
    margin: 10px;
    background: $nav-background;
    color: #fff;
    border: 2px solid $nav-background;
}

.events-upper-content img {
    width: 60%;

}

.events-upper-content h4 {
    padding: 20px;
}

.events-box {
    display: flex;
    margin: 10px;
    border: 1px solid $nav-background
}

.events-box img {
    width: 250px;
    height: 100%;
}

.events-box p {
    padding: 10px;
    text-align: left;
}

.todays-event {
    border: 1px solid $nav-background;
}

.todays-event h4 {
    padding: 5px;
    text-transform: uppercase;
    background: $nav-background;
    color: #fff;
}

.todays-event-box {
    padding: 10px;
}

@media only screen and (max-width: 768px) {

    /* For Mobile */
    .events-lower-box {
        width: 100%;
        display: block;
    }

    .events-upper-content {
        display: block;
        height: 500px;
    }

    .events-upper-content img {
        width: 100%;
        height: 350px;

    }
}
