.history-content h4{
    margin: 10px;
}
.brief-history {
    background-color: $nav-background;
    color: #fff;
    margin: 20px;
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.history-timeline {
    border: 1px solid $nav-background;
    color: $nav-background;
    margin: 20px;
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.timeline {
    margin: 10px;
}

.timeline img {
    width: 100%;
}
