.membership-upper-content {
    display: flex;
    height: 350px;
    margin: 20px;
    background: $nav-background;
    color: #fff;
    border: 2px solid $nav-background;
}


.mySlides img {
    width: 100%;
    height: 350px;
    padding: 10px;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.membership-upper-content h4 {
    padding: 20px;
    width: 80%;
}

.membership-lower-content {
    display: flex;
    color: $nav-background;

}

.membership-box {
    padding: 10px;
    width: 50%;
    border: 1px solid $nav-background;
    margin: 5px;
}

.membership-box ul {
    padding: 20px;
}

@media only screen and (max-width: 768px) {

    /* For Mobile */
    .membership-upper-content {
        display: block;
        height: 450px;
    }

    .mySlides img {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    .membership-lower-content {
        display: block;

    }

    .membership-box {

        width: 100%;

    }

}
