.vmgo-box{
  padding: 15px;
  margin: 10px 0 10px 0;
border: 1px solid black
}
.vmgo-box p{
  text-align: justify;
  text-justify: inter-word;
}
.vmgo-right{
  padding: 20px;
}
.vmgo-right img{
  width: 100%;
}